@using Sandbox;
@using Sandbox.UI;

@namespace MyGame
@inherits Panel
@attribute [StyleSheet]

<root>
    <label>Ammo: @GetAmmo()</label>
</root>

@code
{
    private int GetAmmo()
    {
        var player = Game.LocalPawn as Pawn;
        if(player == null) return 0;

        return player.ActiveWeapon.CurrentAmmo;
    }

    protected override int BuildHash()
    {
        var currentAmmo = GetAmmo();

        return currentAmmo.GetHashCode();
    }
}